@media screen and (max-width: 1024px) {
    /* -------------- index.html ---------- */
    #title{
        font-size: 30px;
    }
    #text{
        font-size: 18px;
    }
    #form{
        font-size: 14px;
    }
    .cta-select{
        height: 30px;
        font-size: 16px;
    }
    textarea{
        height: 70px;
    }
    /*----------- */
    header {
        margin-top: 0px;
        height: 10vh;
    }
    .presentation {
        flex-direction: column;
        width: 85%;
    }
    .intro {
        margin-top: 6vh;
        text-align: center;
    }
    .intro-text p {
        margin-top: 15px;
    }
    .idea-bulb {
        right: 7.5vw;
    }
    /* --------------- contacts.html ----------- */
    .container-contact {
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }
    .sendEmail {
        margin-top: 0px;
        width: 100%;
        align-items: center;
    }
    form {
        width: 100%;
        align-items: center;
    }
    input {
        margin: 10px 0px 0px 0px;
        width: 80%;
    }
    textarea {
        margin-top: 10px;
        width: 80%;
    }
    button {
        margin-top: 10px;
    }
    
    /*----------------- Schedule.html ---------------- */
    p {
        width: 80%;
        text-align: center;
        margin: 50px auto 30px auto;
    }
    .Schedule {
        width: 50%;
        margin: 0px auto 0px auto;
    }
    th, td {
        width: 0;
        font-size: 25px;
        padding: 10px;
    }
    /*---------------- Staff.html ----------------*/

    .card{
        height: 290px;
    }
    .container h3{
        font-size: 15px;
      }
}